html {
  scroll-behavior: smooth;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#nav {
  display: grid;
  place-items: center;
  width: 100%;
  background-color: #27272ae6;
}

#navBar {
  width: 100%;
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.logo {
  font-size: 12px;
  color: #f4f4f5;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 40px;
  padding: 0px 12px;
  width: 370px;
  height: 40px;
  border: 0px solid #8a8989;
  background-color: #27272ae6;
}

li {
  padding: 8px 12px;
  overflow: hidden;
  font-size: 14px;
  color: #e4e4e7;

  cursor: pointer;
}
li:hover {
  color: #2dd4bf;
  transition: 0.3s;
}

.navItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menuBar {
  border: 1px solid #8a8989;
  border-radius: 40px;
  padding: 6px 15px;
  background-color: #27272ae6;
}

.menu {
  color: #f4f4f5;
}
.menuBar:hover {
  scale: 1.1;
  transition: 0.3s;
}

.gameMode {
  padding: 6px 15px;
  border: 1px solid #8a8989;
  border-radius: 40px;
  background-color: #27272ae6;
}

.gameMode:hover {
  scale: 1.1;
  transition: 0.3s;
}

@media screen and (max-width: 700px) {
  nav ul {
    display: none;
  }
}

main {
  background: #2d2e32;
  height: 600px;
  width: 100%;
  display: grid;
  place-items: center;
}

.mainContent {
  width: 1100px;
  max-width: 80vw;
  height: 90%;
  position: relative;
}

.mainContent h1 {
  font-size: 100px;
  position: absolute;
  left: 0rem;
  color: #f4f4f5;
}

.mainContent h2 {
  font-size: 50px;
  position: absolute;
  right: 0rem;
  bottom: 5rem;
  text-align: right;
  color: #f4f4f5;
}

@media screen and (max-width: 900px) {
  .mainContent h1 {
    font-size: 50px;
  }

  .mainContent h2 {
    font-size: 35px;
  }
}

#About {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #27272ae6;
}

.AboutContent {
  width: 1200px;
  max-width: 90vw;
  height: 100%;
  background-color: yellow;
  /* display: flex; */
  align-items: center;
  overflow: hidden;
}

.aboutText {
  width: 50%;
}

.aboutText h1 {
  font-size: 40px;
  color: #f4f4f5;
}

.aboutImg {
  width: 28rem;
  height: 28rem;
  border-radius: 50px;
  background-color: #27272ae6;
  transform: rotate(8deg);
  overflow: hidden;
}

.aboutImg img {
  width: 100%;
  transform-origin: center;
  object-fit: cover;
}
